.charCard{
  background:#e07ec6;
  color:#FFFFFF;
  height:50px;
  width:300px;
  padding:15px;
  margin:15px;
  text-align: center;
  font-size: 10px;
}

.houseCard{
  background:#766ec6;
  color:#FFFFFF;
  height:50px;
  width:300px;
  padding:15px;
  margin:15px;
  text-align: center;
  font-size: 10px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.text{
  background:#FFFFFF;
  height:300px;
  width:300px;
  padding-right:100px;
  padding-top:50px;
  margin:15px;
  text-align: center;
  font-size: 30px;
}
